.content {
    background-color: black;
}

.contentWrapper {

}

.headerContent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
}

.text {

}

.photo {

}

.AboutMe {
    color: #f4f4f4;
    padding-bottom: 60px;
}

.AboutMeWrapper {
    display: grid;
    max-width: 1100px;
    margin: 0 auto;
    background-color: #313552;
}

.AboutMeNav {
    background-color: #1f2336;
}

.NavMenu {
    display: flex;

}

.NavMenu li {
    flex: auto;
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    font-family: 'hk_grotesksemibold', sans-serif;
    line-height: 25px;
    color: #CACBD2;
    padding: 17px 40px 17px 40px;
    border-style: solid;
    border-width: 0px 1px 0px 0px;
    border-color: rgba(255, 255, 255, 0.05);
    border-radius: 0px 0px 0px 0px;
    cursor: pointer;
    transition: all 0.3s;
}

.NavMenu li:hover {
    color: #1F2235;
    background-color: #FFC576;
}

.ProjectsWrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    padding-bottom: 60px;
}

.Project {
    border-radius: 7px 7px 7px 7px;
    background-color: rosybrown;
    padding: 30px 0;
}

.SocialWrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    padding-bottom: 50px;
}

.Title {
    grid-column: 1/4;
    font-family: 'hk_groteskregular', sans-serif;
    font-size: 40px;
    margin-bottom: 50px;
    color: #f4f4f4;
}

.SocialItemWrapper {
    background-color: #2c304a;
    padding: 30px 30px 30px 30px;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: rgba(255, 197, 118, 0.75);
    border-radius: 7px 7px 7px 7px;
    cursor: pointer;
    transition: all 0.3s;
}

.SocialItemWrapper:hover {
    background-color: #FFC576;
    color: #1f2235;
}
.SocialItemWrapper:hover .SocialItemTitle{
    color: #1f2235;
}
.SocialItemWrapper:hover .SocialItemDesc{
    color: #1f2235;
}
.SocialItemTitle {
    font-family: 'hk_groteskmedium', sans-serif;
    font-size: 24px;
    color: white;
    margin-bottom: 15px;
}

.SocialItemDesc {
    font-family: 'hk_groteskregular', sans-serif;
    font-size: 14px;
    color: #ffc576;
    margin-bottom: 5px;
}

.AboutMeDescWrapper {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 70px 45px;
}

.AboutMeDescWrapper .right .title {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 30px;

}

.AboutMeDescWrapper .right .desc {
    font-size: 16px;
    line-height: 25px;
    font-family: 'hk_groteskregular', sans-serif;
}

.AboutMeDescWrapper .right .desc p + p {
    margin-top: 15px;
}