.header {
    /*background-color: #1f2336;*/
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 2;
}

.headerWrapper {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 4fr 8fr;
    align-items: center;
    z-index: 3;
    position: relative;
}
.overlay{
    position: fixed; /* Sit on top of the page content */
    /*display: none; !* Hidden by default *!*/
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    /*z-index: 1; !* Specify a stack order in case you're using a different order for other elements *!*/
    cursor: pointer; /* Add a pointer on hover */
}
.HeaderLogo {
    display: flex;
    align-items: center;
    padding: 15px 0;
}

.logo_img {
    height: 70px;
}

.logoDesc {
    font-family: 'hk_grotesklight', sans-serif;
    font-size: 20px;
    color: #f4f4f4;
    margin-left: 10px;
}

.MenuWrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 2;
}

.MenuWrapper .Menu {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.MenuWrapper .Menu li + li {
    margin-left: 20px;
}

.MenuWrapper .Menu a {
    font-family: 'hk_grotesksemiboldbold', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 30px;
    color: #f4f4f4;
    cursor: pointer;
    transition: all 0.2s;
    text-decoration: none;
    display: inline-block;
    padding: 10px 0;
    width: 100%;
    height: 100%;
}

@media not all and (pointer: coarse) {
    .MenuWrapper .Menu a:hover {
        color: #FFC576;
    }

    .MenuWrapper .Menu a:before {
        content: '';
        position: absolute;
        opacity: 0;
        left: 0;
        bottom: 0;
        width: 0;
        border-bottom: 2px solid #FFC576;
        transition: 0.3s;
    }

    .MenuWrapper .Menu a:hover:before {
        opacity: 1;
        width: 100%;
    }
}


.MenuWrapper .MenuButton {
    display: block;
    margin-left: 20px;
}

.buttonMenu {
    width: 30px;
    height: 19px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: transform 200ms ease-out;
}

.buttonMenu.open {
    transform: rotate(-45deg);
}

.lineMenu {
    background-color: #fff;
    border-radius: 5px;
    width: 100%;
    height: 2px;
}

.lineMenu.half {
    width: 50%;
}

.lineMenu.start {
    transition: transform 200ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
    transform-origin: right;
}

.open .lineMenu.start {
    transform: rotate(-90deg) translateX(6px);
}

.lineMenu.end {
    align-self: flex-end;
    transition: transform 200ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
    transform-origin: left;
}

.open .lineMenu.end {
    transform: rotate(-90deg) translateX(-6px);
}

@media (min-width: 0px) and (max-width: 767px) {
    .header {
        background-color: #1f2336;
        position: static;
        /*-webkit-box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.75);*/
        /*-moz-box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.75);*/
        /*box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.75);*/
    }

    .headerWrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 0 15px;
        background: #1f2336;
        grid-template-rows: minmax(100px, auto);
        grid-template-columns: 1fr 1fr;
    }

    .MenuWrapper .MenuButton {
        display: none;

    }

    .HeaderLogo {
        justify-content: start;
    }

    .logoDesc {
        display: none;
    }

    .MenuWrapper {
        justify-content: flex-start;
        grid-column: 1/-1;
    }

    .MenuWrapper .Menu {
        height: 0px;
        overflow: hidden;
        transition: 0.3s;
        flex-direction: column;
    }

    .buttonMenu {
        display: flex;
        justify-self: end;
    }
    .Menu.menuActive {
        height: 200px;
        width: 100%;
    }
    .Menu li{
        width: 100%;
    }
    .MenuWrapper .Menu li + li {
        margin-left: 0px;
        border-top: 1px solid rgba(46, 56, 65, 0.9);
    }
}
