.footer {
    background-color: #313552;
}

.footerWrapper {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
}
.footerText{
    font-family: hk_grotesklight,sans-serif;
    font-size: 12px;
    text-align: center;
    color: #fff;
}
.FooterButton{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.FooterButtonIn {
    border: 1px solid #FFC576;
    color: #FFC576;
    background: transparent;
    text-transform: uppercase;
    font-weight: 600;
    padding: 10px 30px;
    border-radius: 2px;
    font-size: 14px;
    display: inline-block;
    text-decoration: none;
}
@media(min-width: 0px) and (max-width: 767px){
    .footer .footerWrapper .HeaderLogo{
        display: none;
    }
    .footerWrapper{
        grid-template-rows: minmax(40px,auto);
        grid-template-columns: 1fr;
    }
    .FooterButton{
        display: none;
    }
}
