.requiredField {
    border: 1px solid red !important;
}

.inputFormWrapper {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-column-gap: 30px;
    grid-row-gap: 15px;
    margin: 30px 0 20px 0;
}
.fieldWrapper{
    position: relative;
}
.fieldWrapper input,
.fieldWrapper textarea {
    width: 100%;
    outline: 1px solid transparent;
    padding: 18px;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 3px;
    color: #79879d;
    font-size: 16px;
    resize: none;
}

.fieldWrapper input::placeholder,
.fieldWrapper textarea::placeholder {
    color: #79879d;
}

.fieldWrapper:last-child {
     grid-area: 1/2/4/2;
 }
.fieldWrapper textarea{
    height: 100%;
}
.fieldWrapper .textError{
    position: absolute;
    background-color: red;
    color:#fff;
    font-size: 12px;
    padding: 3px 5px;
    top: 0;
    right: 0;
}
.fieldWrapper .textError span{
    color: inherit;
}
@media (min-width: 0) and (max-width: 767px) {
    .inputFormWrapper{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, auto);
    }
    .fieldWrapper:last-child {
        grid-area: 4/1;
    }
}